 @model Category

 <form method="post" asp-action="Edit">
	 <div class="p-3 mt-4 text-center">
		 <div class="row pb-2">
			 <h2 class="text-primary">
				 Edit Category
			 </h2>
			 <hr />
		 </div>
		 <div asp-validation-summary="All" class="d-flex justify-content-center align-items-center"></div>
		 <div class="mb-2 ml-3 d-inline-flex">
			<div class="col-sm-4">
				<label asp-for="Name" class="h5"></label>
			</div>
			<div class="col-sm-8">
				<input asp-for="Name" class="form-control pl-3" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		 </div>
		 		 <div class="mb-3 ml-3 d-inline-flex">
			<div class="col-sm-6">
				<label asp-for="DisplayOrder" class="h5"></label>
			</div>
			<div class="col-sm-4">
				<input asp-for="DisplayOrder" class="form-control pl-3" />
				<span asp-validation-for="DisplayOrder" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="text-center">
		<div>
		 <button type="submit" class="btn btn-primary btn-lg">Update Category</button>
		 </div>
		 <div class="mt-3">
		 <a asp-controller="Category" asp-action="Index" class="btn btn-secondary btn-lg">Back to the List
		 </a>
		 </div>
	</div>
 </form>

 @section Scripts{
	 @{
 <partial name="_ValidationScriptsPartial"></partial>
	 }
 }
