@if (TempData["success"] != null)
{
    <br/>
    <h2 class="text-center">@TempData["success"]</h2>
    <hr />
}

@if (TempData["error"] != null)
{
    <br/>
    <h2 class="text-center">@TempData["error"]</h2>
    <hr />
}